body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
}

.page-container {
    margin-top: 50px;
}

.loginpage {
    padding: 15px;
    box-shadow: 1px 1px 1px #65a9e5, -1px -1px 1px #65a9e5;
    max-width: 500px;
    margin: auto;
}

.color-blue {
    color: #65a9e5;
}

.btn-signin {
    background-color: #65a9e5 !important;
    border-color: #65a9e5;
    position: relative;
    left: 40%;
    color: white !important;
}

.logo-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.logo-text {
    font-size: 26px;
    font-weight: 700;
}

.logo-highlight {
    color: #65a9e5;
}

#wrapper {
    display: flex;
    overflow-x: visible !important;
}

#sidebar-wrapper {
    display: none;
}

#menu-toggle {
    display: none;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

div.active-user {
    text-align: center;
    border-bottom: 1px solid gray;
}

div.online-users {
    border-bottom: 1px solid gainsboro;
}

.video-container {
    position: relative;
    height: 85vh;
}

.remote-video {
    border: 1px solid #cddfe7;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 66%;
}

.local-video {
    position: absolute;
    border: 1px solid #cddfe7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    bottom: 10px;
    right: 0;
}

.txt_username {
    position: absolute;
    right: 3px;
    top: 30px;
    font-size: 14px;
    width: 150px;
    border: none;
    border-bottom: 1px solid;
    text-align: center;
}

p.username {
    margin: 0;
    padding: 10px;
}

.video-container {
    display: none;
}


/* responsive design */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .local-video {
        width: 200px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .local-video {
        width: 200px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .local-video {
        width: 300px;
        height: 100px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .local-video {
        width: 300px;
        height: 200px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .local-video {
        width: 300px;
        height: 200px;
    }
}